div{
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
    text-decoration-color: antiquewhite;
    background-color: crimson;
    text-align: center;
    justify-content: space-evenly ;
    font-size: 150px;
}
#alert{
    color: white;
}